@import "../../Styles/global.scss";

.forgotWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .redirect {
    display: flex;
    flex-direction: row;
    color: $primary1;
  }

  @media (max-width: 992px) {
    justify-content: flex-start;
  }
}
