// $black: #323b4b;
//$greyBold: #8a94a6;
// $greyBg: #fafbfc;

// input
$inputBorder: #f3f3f3;
//btn
$primary1: #377dff;
$primary2: #38cb89;
$primary3: #ffab00;
$primary4: #ff5630;

//secondary
$secondary1: #ebf2ff;
$secondary2: #e5f6ef;
$secondary3: #fdf4e0;
$secondary4: #ffe6e0;

//transparent
$transparent1: #f4f8ff;
$transparent2: #f5fcf9;
$transparent3: #fffbf1;
$transparent4: #fff6f4;

//text
$text1: #323b4b;
$text2: #4e5d78;
$text3: #8a94a6;
$text4: #b0b7c3;

//background
$bg1: #c1c7d0;
$bg2: #f3f3f3;
// $bg2: #ebecf0;
$bg3: #fafbfc;
$bg4: #ffffff;