@import "../../Styles/global.scss";

.quickAccess {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h3 {
    @include typography(18px, $text1, 600, 29px);

    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  .selectedOption {
    background-color: $bg2;

    .sorting {
      display: flex;
      align-items: center;
      gap: 5px;

      .sort {
        @include typography(14px, $text4, 500, 29px);
      }

      .filter {
        color: $text2;
      }
    }

    @media (max-width: 575px) {
      padding: 8px 12px;
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  background: $bg4;
  margin-bottom: 45px;

  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 18px;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 145px;
  min-height: 145px;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.3s ease-in-out;
  padding: 35px 23px;

  img {
    width: 52px;
    height: 52px;
  }

  h4 {
    @include typography(14px, $text2, 600, 29px);
    text-align: center;
  }
}

.recentFiles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 34px;

  h3 {
    @include typography(18px, $text1, 600, 29px);

    @media (max-width: 575px) {
      margin-bottom: 25px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  .search {
    .label {
      left: 22px;
    }

    .searchBar {
      background-color: $bg2;
      width: 63px;
      height: 43px;
      padding: 27px;
    }
  }

  .uploadBtn {
    border-radius: 15px;
    padding: 12px 21px;
    gap: 8px;
    @include typography(14px, $bg4, 600, 12px);
  }

  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
