@import "../../Styles/global.scss";

.divider {
  display: flex;
  margin-bottom: 30px;

  hr {
    background-color: $bg3;
    flex-grow: 1;
    height: 2px;
    margin: auto;
    border: none;
  }

  span {
    margin-left: 24px;
    margin-right: 24px;
    @include typography(20px, $text4, 500, 18px);
  }
}
