@import "../../Styles/global.scss";

.header {
  //background-color: $bg3;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  z-index: 2;

  .icon {
    width: 186px;
    height: 42px;
  }
  .customSelect {
    display: block;

    @media (max-width: 575px) {
      display: none;
    }
  }
  @media (max-width: 992px) {
    background-color: $bg4;
    padding: 20px 30px;
  }
}

.background {
  display: flex;
  min-height: 100%;

  .leftBg {
    // position: fixed;
    width: 600px;
    width: 100%;
    background: url("../../assets/images/BCKG.png"), $bg3 50%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
